* {
  box-sizing: border-box;
  margin: 0;
}

.userCard {
  margin: 15px;
  background-color: white;
  min-width: 350px;
  max-width: 600px;
  height: auto;
  border-radius: 14px;
  box-shadow: 0px 10px 30px hsl(0, 0%, 11%);
  text-align: center;
}

.userHeaderCard {
  position: relative;
}

.userImg {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.userHeaderCard h1,
p {
  position: absolute;
  color: white;
}

.userHeaderCard h1 {
  top: 80%;
  left: 40%;
}

.userHeaderCard p {
  top: 85%;
  left: 44%;
}

.userFooterCard {
  display: flex;
  padding: 50px;
}

.userFooterCard h2 {
  color: gray;
}

.userFooterCard div {
  flex: 1;
}

.userFooterCard {
  position: relative;
}

.cardBtn {
  position: absolute;
  background-color: white;
  color: black;
  font-size: 50px;
  border-radius: 20%;
  border: 2px solid black;
  left: 41%;
  top: -30%;
}
